body {
  margin: 0;
  background-color: azure;
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
}

main {
  text-align: center;
}

#current-date {
  font-size: 30px;
}

#current-time {
  font-size: 90px;
}

#current-zone {
  font-size: 30px;
}

#search {
  position: fixed;
  top: 10px;
  right: 10px;
}

#search-bar {
  width: 300px;
  padding: 5px;
  font-size: 18px;
  margin: 0;
}

#search-results{
  list-style-type: none;
  background-color: white;
  margin: 0;
  padding: 0;
  max-height: 200px;
  overflow: scroll;
}

#search-results li {
  padding: 10px;
}

#search-results li:hover {
  background-color: lightgray;
  cursor: pointer;
}

.local-time {
  float: right;
}
